#div1{

    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    opacity: 1;


}

#div2{

    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    opacity: 0.5;


}

#div3{

    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    visibility: hidden;
    


}

#div4{

    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    opacity: 0.1;


}
